@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .products:hover {
    animation-name: zoom;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  .sale_price::after {
    content: "";
    width: 95%;
    position: absolute;
    top: 33%;
    left: 0px;
    height: 1.3px;
    background-color: red;
  }
}


@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
